.change_persentage{
    align-self: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.Currentprice_change_contaner_DOWN{
    width: 100px;
        background-color: #970b0b;
        align-self: center;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 15px;
}
.Currentprice_change_contaner_UP {
    width: 100px;
        background-color: #27b60f;
        align-self: center;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 15px;
}

/* .Currentprice-button{
    margin-left: 0;
    background-color: black;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
} */
.Currentprice{
    display: flex;
}