.Cardorlist-contaner{
    background-color: rgb(10, 9, 9);;
    color: blue;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-button {
    margin: 0px;
    border: antiquewhite;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgb(10, 9, 9);;
    color: antiquewhite;
    font-size: xx-large;
    font-weight: 600;
    height: 55px;
    width: 500px;
    cursor: pointer;
}

.list-button {
    margin: 0px;
    border: antiquewhite;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;   
    background-color: rgb(10, 9, 9);;
    color: antiquewhite;
    font-size: xx-large;
    font-weight: 600;
    height: 55px;
    width: 500px;
    cursor: pointer;
}

.coN{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}