.card-contanet{
    margin: 20px;
    background-color: rgb(21, 26, 28);
    color: white;
    display: block;
    box-sizing: border-box;
    box-shadow: 3rem;
    transition: border 0.2s ease-in-out;
    width: 20rem;
    padding: 2rem;
    border-radius: 15px;
    min-height: fit-content;
    border: 3px solid #151a1c;
}

.Symbol-area{
    display: flex;
    justify-content: space-between;
    width: 210px;
}

#card-contanet-red:hover {
    border: 3px solid red;
}
#card-contanet-green:hover {
    border: 3px solid #27b60f;
}