.card-contanet{
    background-color: goldenrod;
    color: white;
    display: block;
    box-sizing: border-box;
    box-shadow: 3rem;
    border: 3px;
    width: fit-content;
    border-color: blue;
}

