.card-contanet{
    margin: 20px;
    background-color: rgb(21, 26, 28);
    color: white;
    display: block;
    box-sizing: border-box;
    box-shadow: 3rem;
    border: 3px;
    width: 20rem;
    /* border-color: blue; */
    padding: 2rem;
    border-radius: 15px;
    min-height: fit-content;
}

.Symbol-area{
    display: flex;
}